@import "variables";
@import "ui-variables";

.websockets
{
    background: @pane-background-color;
    display: flex;
    flex-direction: column;

    .thead
    {
        display: flex;
        border-bottom: 1px solid @header-border-color;
        background: @header-background-color;

        .td
        {
            line-height: 24px;
            flex: 1;
            font-size: 11px;
            color: @text-color-subtle;
            padding: 0 10px;

            &:last-child
            {
                border-right: 0;
            }

            &.uri
            {
                flex: 3;
            }
        }
    }

    .websockets-list
    {
        flex: 1;
        overflow: auto;
    }

    .via-table
    {
        .tr
        {
            display: flex;
            height: 25px;
            border-bottom: 1px solid fade(@header-border-color, 50%);

            .td
            {
                flex: 1;
                font-size: 11px;
                padding: 0 10px;
                line-height: 24px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.uri
                {
                    flex: 3;
                }
            }
        }
    }
}
